[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gileum = "*"
gunicorn = "*"
hypercorn = "*"

[dev-packages]
mkdocs-material = "*"
mkdocstrings = "*"

[requires]
python_version = "3.8"
